.ireland {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ireland__stats {
    display: flex;
    min-height: 100px;
    margin-bottom: 12px;

    &:last-child {
        margin-bottom: 0;
    }

    .app--tiny & {
        flex-direction: column;
        margin-bottom: 0;
    }
}

.ireland__stats-card {
    margin-right: 12px;

    &:last-child {
        margin-right: 0;
    }

    .app--tiny & {
        margin-right: 0;
        margin-bottom: 12px;
    }
}

.ireland__charts {
    display: flex;
    flex-direction: column;
}

.ireland__chart {
    margin-top: 12px;
}