.county-breakdown {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.county-breakdown__title {
  text-align: center;
  margin-bottom: 6px;
}

.county-breakdown__subtitle {
  text-align: center;
  margin-bottom: 24px;
  font-size: 14px;
}

.county-breakdown__map {
  max-height: 700px;

  fill: #fff; // Sets the font colour to white in each path

  g {
    cursor: pointer;
  }
}

.county-breakdown__map-note {
  margin-top: 24px;
  font-size: 12px;
  text-align: center;
}

.county-breakdown__tooltip {
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-size: 10px;
  background-color: rgb(37, 37, 37);
  border-radius: 6px;
  position: absolute;
  user-select: none;
  font-size: 12px;
  border: 1px solid rgb(185, 185, 185);
  line-height: 1.5;
}

.county-breakdown__tooltip-county-name {
  font-weight: 600;
  margin-bottom: 4px;
}

.county-breakdown__color-chart {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 24px 0;
}

.county-breakdown__color-chart-row {
  display: flex;
  text-align: center;
  flex: 1;
  margin-top: 12px;
}

.county-breakdown__color-chart-color {
  height: 20px;
  flex: 1;
}

.county-breakdown__color-chart-color-description {
  flex: 1;
  font-size: 12px;
  padding: 4px;
}

.county-breakdown__color-chart-low {
  background: #016118;
}

.county-breakdown__color-chart-medium {
  background: #8e5506;
}

.county-breakdown__color-chart-high {
  background: #bf3100;
}

.county-breakdown__color-chart-very-high {
  background: #2d044a;
}
