$county-level-low-colour: #016118;
$county-level-medium-colour: #b2b840;
$county-level-high-colour: #b67514;
$county-level-very-high-colour: #760606;

@mixin svg-county-styling ($background-colour) {
  cursor: pointer;

  path[id] {
    fill: $background-colour;
  }

  path:not([id]) {
    fill: white;
  }

  &:hover {
    path[id] {
      fill: rgba($background-colour, 0.7);
    }
  }
}

.county-breakdown {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.county-breakdown__title {
  text-align: center;
  margin-bottom: 6px;
}

.county-breakdown__subtitle {
  text-align: center;
  margin-bottom: 24px;
  font-size: 14px;
}

.county-breakdown__map {
  max-height: 700px;

  #g-ni {
    cursor: not-allowed;

    path:not([id]) {
      fill: #fff;
    }

    path[id] {
      fill: rgb(114, 114, 114);
    }
  }
}

.county-breakdown__map-note {
  margin-top: 24px;
  font-size: 12px;
  text-align: center;
}

.county-breakdown__tooltip {
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-size: 10px;
  background-color: rgb(37, 37, 37);
  border-radius: 6px;
  position: absolute;
  user-select: none;
  font-size: 12px;
  border: 1px solid rgb(185, 185, 185);
  line-height: 1.5;
}

.county-breakdown__tooltip-county-name {
  font-weight: 600;
  margin-bottom: 4px;
}

.county-breakdown__color-chart {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 24px 0;
}

.county-breakdown__color-chart-row {
  display: flex;
  text-align: center;
  flex: 1;
  margin-top: 12px;
}

.county-breakdown__color-chart-color {
  height: 20px;
  flex: 1;
}

.county-breakdown__color-chart-color-description {
  flex: 1;
  font-size: 12px;
  padding: 4px;
}

.county-breakdown__color-chart-low {
  background: $county-level-low-colour;
}

.county-breakdown__color-chart-medium {
  background: $county-level-medium-colour;
}

.county-breakdown__color-chart-high {
  background: $county-level-high-colour;
}

.county-breakdown__color-chart-very-high {
  background: $county-level-very-high-colour;
}

.county--low-cases {
  @include svg-county-styling($county-level-low-colour);
}

.county--medium-cases {
  @include svg-county-styling($county-level-medium-colour);
}

.county--high-cases {
  @include svg-county-styling($county-level-high-colour);
}

.county--very-high-cases {
  @include svg-county-styling($county-level-very-high-colour);
}