.tabs {
    display: flex;
    background: #1E1E1E;
    flex: 1;
}

.tabs__tab {
    font-size: 18px;
    padding: 8px 24px;
    text-transform: uppercase;
    cursor: pointer;
    background: #1E1E1E;

    &--selected {
        background: #151515;
    }
}