@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Global Overrides
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: rgb(137, 174, 216);
}