// Global Overrides
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #1f1e1e;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

a {
    color: rgb(137, 174, 216);
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
}

.app__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #2e2e2e;
    padding: 8px 16px 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 3px solid #151515;
}

.app__header-title {
    font-size: 24px;
    font-weight: 600;
}

.app__tabs {
    margin-top: 8px;
}

.app__container {
    padding: 0 !important;
    background: #151515;
    width: 80%;
    margin: 0 auto;

    @media only screen and (max-width: 990px) {
        width: 100%;
        padding: 0 24px;
    }
}

.app__content {
    padding: 24px 16px; 
    flex: 1;
}

.app__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2e2e2e;
    padding: 8px;
    position: relative;
    bottom: 0;
    left: 0;
}

.app__footer-text {
    color: rgb(207, 207, 207);
    font-size: 13px;
    text-align: center;
    padding: 4px;
    line-height: 1.5;
}