// Global Overrides
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: rgb(137, 174, 216);
}

.app__tabs {
    padding: 8px 0;
}

.app__container {
    margin-top: 56px;
    padding: 0 !important;
    background: #151515;
}

.app__content {
    padding: 12px;
}

.app__loading-icon {
    animation: spinner 0.5s infinite linear;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}