.cork {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cork__stats {
    display: flex;
    min-height: 100px;

    .app--tiny &,
    .app--small &  {
        flex-direction: column;
    }
}

.cork__stats-card {
    margin-right: 12px;

    &:last-child {
        margin-right: 0;
    }

    .app--tiny &,
    .app--small & {
        margin-right: 0;
        margin-bottom: 12px;
    }
}

.cork__charts {
    display: flex;
    flex-direction: column;
}

.cork__chart {
    margin-top: 12px;
}