.chart-section__header {
    user-select: none;
    cursor: pointer;

    &:hover {
        .chart-section__header-toggle-arrow {
            fill: rgba(0, 0, 0, 0.4);
        }
    }
}

.chart-section__header-toggle-arrow {
    width: 20px;
    fill: #000;

    &--expanded {
        transform: rotate(180deg);
    }
}
